.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-image: url('/public/light-blue-gradient.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: -10px -10px;
}

button {
	border: solid 1px gray;
	border-radius: 8px;
	width: 100px;
	height: 30px;
	padding: 5px;
	margin: 5px;
	font-size: 11pt;
	font-weight: 500;
}

.buttons {
	margin: 10px;
}

button:hover:enabled {
	background-color: lightgray;
	cursor: pointer;
}

.errorMessage {
	display: none;
}

.icon-container {
	display: flex;
	flex-direction: row;
}

.input-container {
	height: 55vh;
	width: 50vh;
	border: solid 1px gray;
	border-radius: 20px;
	background-color: rgba(128, 128, 128, 0.46);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.input {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	border: solid 1px gray;
	border-radius: 4px;
	padding: 5px;
	margin: 5px;
}

input:invalid[focused='true'] ~ span {
	display: block;
}

input:invalid[focused='true'] {
	border: solid 1px red;
}

input:focus {
	outline: none;
}

.image {
	margin: 2px;
}

.title {
	margin: 20px 0px 10px 0px;
}

.submitMessage {
	margin-bottom: 15px;
	font-size: 14pt;
}
